---
const { landingPageData } = Astro.props;
---

<h4>Adventure</h4>
<ul class="checklist highlight-list">
    <li><span class="emph">Family rides</span> through rural backroads &amp; rice fields</li>
    <li>Fun, <span class="emph">easy hikes</span> (with optional challenging trails)</li>
    <li><span class="emph">Mountain biking</span> on at Nozawa Onsen Ski Resort</li>
    <li>River play - swimming, <span class="emph">shower climbing, or rafting</span></li>
    <li><span class="emph">Snow monkeys</span> in their natural hot spring</li>
    <li>Japanese <span class="emph">culture bingo</span></li>
</ul>

<h4>Family Time</h4>
<ul class="checklist highlight-list">
    <li><span class="emph">Farmhouse stays</span> with homestyle meals</li>
    <li><span class="emph">Ryokan stays</span> — sleep on tatami mats &amp; lounge in yukata</li>
    <li><span class="emph">Get muddy planting rice</span> or help with the harvest</li>
    <li><span class="emph">Foraging</span> for wild vegetabels (spring)</li>
    <li>Seasonal <span class="emph">apple picking</span> at local orchards</li>
    <li><span class="emph">Supermarket shoppiung spree</span> & scavenger hunt</li>
</ul>

<h4>Food</h4>
<ul class="checklist highlight-list">
    <li>Elaborate <span class="emph"><em>kaiseki</em> dinner</span></li>
    <li>Simple <span class="emph">everyday homecooked dinner & breakfast</span></li>
    <li>Private <span class="emph">soba-noodle making class</span></li>
    <li><span class="emph">Mochi</span> rice cake pounding</li>
    <li>Make your own <span class="emph">onigiri & bento</span> lunch</li>
    <li><span class="emph">Miso-factory</span> tour &amp; tastings</li>
    <li><span class="emph">Sake tasting</span> at a small brewery</li>
    <li><span class="emph">Grilled bear</span> or native wild game</li>
    <li>Make <span class="emph">onsen-tamago</span> (egg cooked in hot springs)</li>
    <li>Seasonal <span class="emph">local specialities</span></li>
</ul>

<h4>Culture</h4>
<ul class="checklist highlight-list">
    <li><span class="emph">Washi-paper</span> crafting</li>
    <li>Try traditional <span class="emph">natural-dyeing</span></li>
    <li><span class="emph">Wara-straw sandal</span> & craft weaving</li>
    <li>Learn <span class="emph">traditional Japanese games</span></li>
    <li>Practice <span class="emph">shrine etiquette</span> &amp; rituals</li>
    <li>Join a village <span class="emph">local festival</span></li>
    <li><span class="emph">Elementary-school visit</span> (when possible)</li>
    <li>Paint traditional <span class="emph">e-tegami</span> picture post-cards</li>
    <li>Learn - and <span class="emph"><em>use</em> Japanese</span> phrases with locals</li>
    <li>
        Learn what <span class="emph">your name</span> means & how to write it with <span class="emph"
            >Japaense caligraphy</span
        >
    </li>
</ul>

<style lang="scss">
    @use '../../../styles/global' as *;
    .trip-highlights {
        margin-top: 20px;
    }
    section {
        @include respond-to(small) {
            //border: 1px solid blue;
        }
    }
    section p {
        @include respond-to(small) {
            margin-left: 5px;
        }
    }
    section ul.checklist li {
        margin-top: 10px;
        @include respond-to(small) {
            margin-left: 5px;
        }
    }
    .sub-header {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .centered-section {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
    }
    hr {
        margin: 50px 0;
        width: 100%;
        @include respond-to(small) {
            margin: 20px 0;
        }
    }
    .footnote {
        font-size: 1.1em;
        color: #777;
        margin-top: 10px;
        margin-bottom: 15px;
        text-align: left;
        //    border: 1px solid red;
    }

    .attention-catcher {
        padding-top: 20px;
        padding-bottom: 30px;
        overflow: hidden;
        position: relative;
    }
    .attention-catcher h2,
    h4 {
        // opacity: 0;
        // animation: fadeIn 4s forwards;
        animation-timing-function: ease-out;
        position: relative;
        font-weight: 600;
        //font-size: 1.2em;
    }
    .attention-catcher h1 {
        font-size: 2.3em;
        font-weight: 700;
        margin: 0; /* Prevent margin */
    }
    section h2 {
        padding-top: 20px !important;
        padding-bottom: 10px !important;
        font-size: 2.7em;
        text-align: center;
    }
    .attention-catcher h2 {
        font-size: 1.5em;
        margin: 10px 0 0; /* Add a bit of space between h1 and h2 */
    }
    // .attention-catcher h2 {
    //     font-size: 1.7em;
    // }
    // .attention-catcher h2 span {
    //     font-size: 1em;
    // }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @include respond-to(xxlarge) {
    }

    @include respond-to(xlarge) {
    }

    @include respond-to(large) {
        .attention-catcher {
            padding-top: 0px;
            padding-bottom: 20px;
        }
    }

    @include respond-to(medium) {
        .btn-container {
            justify-content: center !important; /* Center the button */
            margin-top: 5px; /* Add some space above the button */
        }

        .container .row {
            flex-direction: column; /* Stack the elements vertically */
            align-items: center; /* Center align the children */
        }

        .container .col-md-3 {
            width: 100%; /* Full width on smaller screens */
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
        }

        h1 {
            text-align: center;
        }
    }
    .centered {
        text-align: center;
    }

    /* Landing Page Container */
    .landing-container {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Align items to the top */
        flex-direction: column;
        padding: 20px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto; /* Center the container horizontally */
    }
    .landing-routes {
        width: 100%;
        align-items: center;
    }
    /* Custom Container for Simple Page Body */
    .custom-container {
        width: 100%;
        margin-top: 20px;
    }

    :global(.cta-container) {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: 20px;
    }
    /* CTA Button */
    :global(.cta-button) {
        display: inline-block;
        padding: 1.5rem 1.5rem;
        background-color: var(--bs-link-color);
        color: white !important;
        font-weight: 600;
        font-size: 1.3em;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        text-align: center;
        transition: background 0.2s ease;
        margin: auto;
        &:hover {
            background-color: var(--bs-primary);
        }
    }

    /* Responsive Layout */
    @media (max-width: 1200px) {
        .landing-page-cards {
            grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
            gap: 20px;
        }
    }

    @media (max-width: 768px) {
        .landing-page-cards {
            grid-template-columns: 1fr; /* 1 column on smaller screens */
            gap: 15px;
        }
    }
    .circle-img {
        width: 280px;
        height: 280px;
        object-fit: cover;
        object-position: center 0%; // <-- move image down to center your face
        border-radius: 50%;
        margin-bottom: 1rem;
        border: 3px solid #ccc;
    }
    .circle-img-2 {
        //object-position: left center 100%; // <-- move image down to center your face
        //object-position: right 50%;
        border-radius: 50%;
        margin-bottom: 1rem;
        //    border: 3px solid red;
    }

    .checklist {
        margin-top: 20px;
        font-size: 1.1em;
        list-style: none;
        padding: 10px !important;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid var(--bs-primary-light);
        border-radius: 8px;
        background: rgba(189, 208, 159, 0.08); // or a themed light color
        @include respond-to(medium) {
            // margin-left: 0px;
            // margin-right: 0px;
            padding: 5px !important;
            max-width: 100%;
        }
    }

    .checklist li::before {
        margin-right: 0.5em;
    }

    @media (min-width: 768px) {
        .checklist {
            columns: 2;
            column-gap: 2rem;
        }
    }

    .highlight-list {
        margin-top: 20px;
        font-size: 1.1em;
        margin-left: 0px;
    }
    //                 small: 480px,
    //   medium: 768px,
    //   large: 1024px
    h4 {
        margin-top: 20px;
        font-size: 1.7em;
        width: 100%;
        text-align: center;
    }
</style>
