---
import GenericSlider from '../../components/GenericSlider.astro';
---

<>
    <div class="frame"><GenericSlider sliderImageId={73} height={250} /></div>
    <p style="margin-top: 20px">
        The majority of our bike, hike, and walking trips <span class="emph">focus around a small farming village</span>
        in Northern Nagano. We focus on local, environmentally friendly, active, and challenging activities. We <span
            class="emph"
        >
            share with you our love of the Japan countryside
        </span>.
    </p>
    <ul class="if-you-list">
        <li>
            <p>
                <span class="emph if-you">If you...</span> have already seen your share of crowded temples and city streets,
                and if you're ready to get off the train or bus and move your body through some <span class="emph"
                    >potentially challenging terrain</span
                > - where people are <span class="emph">focused on their everyday life</span>, not on making tourists
                happy—then One Life Japan is most likely perfect for you.
            </p>
        </li>
        <li>
            <p>
                <span class="emph if-you">If you...</span> are willing to spend a night in a local's home or a family-run
                inn, where the <span class="emph">owner is too busy with hunting or the rice harvest</span> to fix a rip
                in the beat-up paper shoji door, then One Life Japan is most likely perfect for you.
            </p>
        </li>
        <li>
            <p>
                <span class="emph if-you">If you...</span> are willing to smile through a <span class="emph"
                    >conversation with a farmer who doesn't speak English</span
                >, or to spend a dinner in what eventually turns into a game of charades with the local baker, then
                <span class="emph"></span>One Life Japan is most likely perfect for you.
            </p>
        </li>
        <li>
            <p>
                <span class="emph if-you">If you...</span> are willing to spend an afternoon <span class="emph"
                    >striking out on your own</span
                > in unknown territory, where no one speaks English but is eager to help nonetheless - <span
                    class="emph">with just a map and the assurance</span
                > that we’ll be there if you need a hand—then One Life Japan may be perfect for you.
            </p>
        </li>
        <li>
            <p>
                <span class="emph if-you">If you...</span> are willing to <span class="emph"
                    >wake up at 5 a.m. to see a country village</span
                > come to life in the early morning light, or to spend an afternoon working in the rice field or gathering
                wild vegetables, then One Life Japan is most likely perfect for you.
            </p>
        </li>
        <li>
            <p>
                <span class="emph if-you">If you...</span> are willing to savor a <span class="emph">simple meal</span>
                of in-season, locally produced foods, then One Life Japan is most likely perfect for you.
            </p>
        </li>
        <li>
            <p>
                <span class="emph if-you">If you...</span> have read this far without thinking it's not for you - <span
                    class="emph"
                >
                    One Life Japan is definitely perfect for you</span
                >.
            </p>
        </li>
    </ul>
</>

<p>
    We want to share the Japan we love. We <span class="emph">can't promise five-star accommodation</span>, or perfect
    cell-phone coverage the entire trip. We certainly <span class="emph"
        >don't promise a glimpse of the fabled "lost" Japan</span
    >. We do promise an opportunity to <span class="emph">see another side of modern-day Japan</span> that you won’t see
    in urban areas like Tokyo or Kyoto, or in towns that rely on tourism as their main industry.
</p>
<p>
    Everything is <span class="emph">waiting for you</span>. It is up to <strong>YOU</strong> to take it in. We are here
    to support and facilitate your adventure - but it is <span class="emph">up to you to make it your adventure</span>.
    We’ll listen to your needs, your likes and dislikes, and work to create the most personalized trip we can offer.
</p>

<style>
    ul.if-you-list {
        list-style-type: none;
        padding-left: 0;
        font-size: inherit;
    }
    ul.if-you-list li {
        margin-bottom: 10px;
        line-height: 1.6;
    }
    .emph {
        font-style: italic;
    }
    .if-you {
        font-weight: bold;
        font-size: 1.5em;
        font-style: normal;
    }
</style>
