/* src/styles/global.scss */

// @import 'bootstrap/scss/bootstrap';
// @import 'bootstrap/scss/functions';
// @import 'bootstrap/scss/variables';
// @import 'bootstrap/scss/mixins';

@import './variables.scss';
@import './lists.scss';

html,
body {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: transparent;
    -webkit-filter: hue-rotate(200deg) brightness(1.1) blur(4px);
    opacity: 0.5;
    filter: hue-rotate(190deg) brightness(1.1) blur(30px);
}

#container {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    height: 100%;
    border: 1px solid red;
}

main {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

#hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    //border: 1px solid blue;
}

h1 {
    font-size: 22px;
    margin-top: 0.25em;
}

#links {
    display: flex;
    gap: 16px;
}

#links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s;
}

#links a:hover {
    color: rgb(78, 80, 86);
}

#links a svg {
    height: 1em;
    margin-left: 8px;
}

#links a.button {
    color: white;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.12),
        inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

#links a.button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
}

pre {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
    background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
}

p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
    margin-bottom: 1.2em;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--bs-link-color); /* Use Bootstrap link color variable */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

a:hover {
    color: var(--bs-link-hover-color); /* Use Bootstrap link hover color variable */
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: 'GeistSans', ui-sans-serif, system-ui, sans-serif !important;
    color: var(--bs-primary);
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
    color: var(--bs-primary-ultradark);
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-weight: 500; /* Use 700 for bold */
}

code {
    display: inline-block;
    background:
        linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
        linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 8px;
}

@media screen and (max-width: 768px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    #hero {
        display: block;
        padding-top: 10%;
    }

    #links {
        flex-wrap: wrap;
    }

    #links a.button {
        padding: 14px 18px;
    }

    #news {
        right: 16px;
        left: 16px;
        bottom: 2.5rem;
        max-width: 100%;
    }

    h1 {
        line-height: 1.5;
    }
}

.custom-container {
    //@extend .container; // Inherit Bootstrap's container styles

    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    height: auto; // This ensures the container grows to fit the content
    //min-height: 100%;

    // border: 0px solid red;
    // @include media-breakpoint-down(lg) {
    //     width: 100%;
    //     max-width: 100%;
    //     padding-left: 20px;
    //     padding-right: 20px;
    //     //border: 1px solid blue;
    // }

    // @include media-breakpoint-down(sm) {
    //     // Override for small screens
    //     padding-left: 5px;
    //     padding-right: 5px;
    // }
}

.custom-container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .custom-container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .custom-container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .custom-container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .custom-container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .custom-container {
        max-width: 1320px;
    }
}

.content {
    margin-top: 20px;
    padding: 10px;
    padding: 0px;
    //border: 1px solid var(--bs-border-color);
    border-radius: 5px;
}

.emph {
    font-weight: 700;
    color: var(--bs-primary-ultradark);
    text-shadow: none;
    font-weight: 700;
    line-height: 1.2;
}

.blurb p {
    margin-bottom: 5px;
}

.blurb {
    font-size: 1.1em;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    // @include media-breakpoint-down(lg) {
    //     font-size: 1em;
    // }
}
