---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/ContactForm.astro';
import PurchaseBlock from '../components/PurchaseBlock.astro';
import ContactSuccessMessage from '../components/ContactSuccessMessage.astro';
import BaseGeneralModal from '../components/modals/BaseGeneralModal.astro';
// Frontmatter for SEO
const title = 'Contact One Life Japan Bike, Hike & Walking Adventures';
const description =
    'Contact One Life Japan to design your custom countryside adventure. Our expert team will help create a tailored bike, hike, or walking tour - just fill in your details and get started.';
---

<BaseLayout title={title} description={description} page="contact">
    <div class="custom-container simple-page-body">
        <PurchaseBlock page={'contact'} />

        <ContactForm />
        <div class="hide-success">
            <ContactSuccessMessage />
        </div>
    </div>
    <div id="success"></div>
</BaseLayout>
<style lang="scss">
    @use '../styles/global' as *;
    h2 {
        font-size: 1.8em;
    }
    .hide-success {
        display: none;
    }
    .modal-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        @include respond-to(small) {
            margin-top: -20px;
        }
    }
</style>
