---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '../components/ContactForm.astro';
import PurchaseBlock from '../components/PurchaseBlock.astro';
import ContactSuccessMessage from '../components/ContactSuccessMessage.astro';
import BaseGeneralModal from '../components/modals/BaseGeneralModal.astro';
// Frontmatter for SEO
title: 'Contact One Life Japan Hike & Bike Adventures';
canonical: 'https://www.onelifejapan.com/contact/';
description: "Discover One Life Japan's unique bike, hike, and walking adventures off the beaten path across rural Japan.";
---

<BaseLayout title="Contact One Life Japan Bike, Hike & Walking Adventures" page="contact">
    <div class="custom-container simple-page-body">
        <PurchaseBlock page={'contact'} />
        <div class="modal-buttons">
            <BaseGeneralModal show="modal" content="isItForYou" />
            <BaseGeneralModal show="modal" content="difficulty" />
            <BaseGeneralModal show="modal" content="priceEstimate" />
        </div>
        <ContactForm />
        <div class="hide-success">
            <ContactSuccessMessage />
        </div>
    </div>
    <div id="success"></div>
</BaseLayout>
<style lang="scss">
    @use '../styles/global' as *;
    h2 {
        font-size: 1.8em;
    }
    .hide-success {
        display: none;
    }
    .modal-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        @include respond-to(small) {
            margin-top: -20px;
        }
    }
</style>
