---
//DaySampleItineraryHighlights.astro
//import SinglePhotoSlider from '../components/SinglePhotoSlider.astro';
import GenericSlider from '../components/GenericSlider.astro';
const { itinerary, dayItinerary } = Astro.props;
---

{
    dayItinerary.accommodations &&
        dayItinerary.accommodations.map((accommodation: any) => (
            <>
                <h1>{accommodation.name}</h1>

                <div set:html={accommodation.description} />
                {accommodation.sliderImage && accommodation.sliderImage.id ? (
                    <GenericSlider sliderImageId={accommodation.sliderImage} />
                ) : null}
            </>
        ))
}
