---
import ItineraryCard from './ItineraryCard.astro';
const { itineraries, page } = Astro.props;

// Chunk the itineraries into groups of three
function chunk(arr: any, size: any) {
    if (!arr || !arr.length) {
        return [];
    }

    const result = [];
    for (let i = 0; i < arr.length; i += size) {
        result.push(arr.slice(i, i + size));
    }
    return result;
}
const row3 = chunk(itineraries, 3);
const row4 = chunk(itineraries, 4);
---

<a id="itinerary-cards" class="fixed-header-anchor"></a>
<div id="row3" class="container content">
    {
        page ? (
            <div class="itinerary-cards">
                {row3.map((row) => (
                    <div class="row margin-bottom-30">
                        {row.map((itinerary: any) =>
                            page === 'customIndex' ? (
                                <ItineraryCard id={itinerary.itinerary_id} />
                            ) : (
                                <ItineraryCard id={itinerary.id} />
                            ),
                        )}
                    </div>
                ))}
            </div>
        ) : (
            ''
        )
    }
</div>

<div id="row4" class="container content">
    {
        page ? (
            <div class="itinerary-cards">
                {row4.map((row) => (
                    <div class="row margin-bottom-30">
                        {row.map((itinerary: any) =>
                            page === 'customIndex' ? (
                                <ItineraryCard id={itinerary.itinerary_id} />
                            ) : (
                                <ItineraryCard id={itinerary.id} />
                            ),
                        )}
                    </div>
                ))}
            </div>
        ) : (
            ''
        )
    }
</div>

<style>
    @import '../styles/global.scss';
    /* render twice and hide unneeded one so when 3/3 becoems 2/1 it changes to 2/2 and 2/2  */
    #row4 {
        display: none;
    }

    @media (max-width: 1200px) {
        #row3 {
            display: none;
        }
        #row4 {
            display: block;
        }
    }
</style>
