---
//ItinerarySectionContainer.astro
const sectionTitle = Astro.props.sectionTitle;
const sectionAnchorId = Astro.props.sectionAnchorId;
---

<div id={`${sectionAnchorId}-section`}>
    {sectionAnchorId && <a id={`${sectionAnchorId}`} class="fixed-header-anchor" />}

    {
        sectionTitle && (
            <div class="secondary-header add-padding-for-small">
                <h2>{sectionTitle}</h2>
            </div>
        )
    }
    <div class="page-section">
        <div class="section-inner">
            <slot />
        </div>
    </div>
</div>

<style lang="scss">
    @import '../styles/global.scss';

    .page-section {
        padding-bottom: 175px;
        @include respond-to(small) {
            padding-bottom: 125px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    .page-section.is-custom {
        padding-bottom: 0px !important;
    }
    @media (max-width: $small-screen) {
        .secondary-header {
            padding-left: 10px;
            padding-right: 10px;
        }
        .add-padding-for-small {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
</style>
