---
//ItinerarySectionContainer.astro
const sectionTitle = Astro.props.sectionTitle;
const sectionAnchorId = Astro.props.sectionAnchorId;
---

<div id={`${sectionAnchorId}-section`}>
    {sectionAnchorId && <a id={`${sectionAnchorId}`} class="fixed-header-anchor" />}

    {
        sectionTitle && (
            <div class="section-header add-padding-for-small">
                <h2>{sectionTitle}</h2>
            </div>
        )
    }
    <div class="page-section">
        <div class="section-inner">
            <slot />
        </div>
    </div>
</div>

<style lang="scss">
    @use '../styles/global' as *;

    .page-section {
        padding-bottom: 50px;
        @include respond-to(small) {
            padding-bottom: 25px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    .page-section.is-custom {
        padding-bottom: 0px !important;
    }
    .section-header {
        padding: 0px;
        padding-left: 0px;
        border-bottom: 2px solid var(--bs-primary);
        border-radius: 5px 5px 0px 0px;
        margin-bottom: 20px;
    }
    .section-header h2 {
        font-weight: 555;
        letter-spacing: 0.03em;
        color: #fff;
        color: var(--bs-primary-dark);
        margin-left: 0px;
        padding-left: 0px;
        font-size: 1.9em;
        margin-bottom: 10px;
    }
    @media (max-width: $small-screen) {
        .section-header {
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 20px;
        }
        .add-padding-for-small {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
</style>
