---

---

<div class="answer">
    <ul class="checklist">
        <li>
            <strong>Start your day:</strong>
            Ride straight from your hotel - or take a short train ride to skip city streets and dive straight into the countryside.
            You will swap your luggage for bikes.
        </li>
        <li>
            <strong>During the day:</strong>
            Ride or walk between small towns, farms, forests, shrines, and hidden trails. You might spend part of a day hiking,
            climbing a waterfall, exploring castle ruins—or just rolling through quiet villages.
        </li>
        <li>
            <strong>End your day:</strong>
            Ride right to your countryside inn. Relax in a bath (onsen if available) before sitting down to a traditional
            meal made with local ingredients.
        </li>
        <li>
            <strong>On your final day:</strong>
            You’ll reach your next destination—or a nearby train station. We’ll be waiting with your luggage. Just swap your
            bike for your bags, soak in one last onsen if you like, and continue your journey.
        </li>
    </ul>

    <style>
        h4 {
            margin: 0;
            font-size: 1.3em;
            font-weight: 700;
        }
    </style>
</div>
