---
import TagLineChanger from './TagLineChanger.astro';
import { baseHost } from '../utils/utilities.ts';
---

<div class="landing-page-cards" data-base-host={baseHost}>
    <div class="info-item">
        <div class="image-container" data-card="0">
            <img
                src=`${ baseHost }/assets/img/2024/media/photos/2332/dsc_2439_8219834753_o_large.jpg`
                alt="Beyond the Golden Route"
                class="info-image"
            />
        </div>
        <div class="dots"></div>
        <h2><TagLineChanger /></h2>
        <p>
            Perhaps you’ve <span class="emph">already planned the Golden Route</span> - Kyoto, Tokyo, Osaka, maybe even Hakone,
            Takayama, and Kanazawa. These places are great, and <span class="emph"
                >there's a reason they’re crowd favorites</span
            >
            . But you’ve also wondered what it's like in <span class="emph">the places in between</span> - the quiet towns,
            the back roads, <span class="emph">the parts most travelers miss</span>.
        </p>
    </div>

    <div class="info-item">
        <div class="image-container" data-card="1">
            <img
                src=`${ baseHost }/assets/img/2024/media/photos/821/dsc_0017_7625856512_o_large.jpg`
                alt="Journey Through Rural Japan"
                class="info-image"
            />
        </div>
        <div class="dots"></div>
        <h2>We Design Your Journey Through Rural Japan</h2>
        <p>
            <span class="emph first-words">We design flexible countryside itineraries</span> - by bike, on foot, or a mix
            of both - <span class="emph">tailored to your schedule, comfort, and curiosity</span>. Whether <span
                class="emph">fully guided or just planning and logistics</span
            >, we help turn the space between the famous stops into the <span class="emph">best part of the trip</span>.
        </p>
    </div>

    <div class="info-item">
        <div class="image-container" data-card="2">
            <img
                src=`${ baseHost }/assets/img/2024/media/photos/472/dsc_0014_7625855158_o_large.jpg`
                alt="Accessible Rural Japan"
                class="info-image"
            />
        </div>
        <div class="dots"></div>
        <h2>Accessible Japan Countryside - Without a Car</h2>
        <p>
            Maybe you’ve been <span class="emph">told you need a car</span> to see the countryside, or to get "off the beaten
            path". <span class="emph">You don’t</span>. Many <span class="emph"
                >rural towns are eager and ready for visitors</span
            >, and more accessible than you think - <span class="emph"><em>if</em></span> you know <span class="emph"
                >where to go, how to get there</span
            > and you're willing to slow down.
        </p>
    </div>
</div>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const container = document.querySelector('.landing-page-cards');
        const baseHost = container.dataset.baseHost;
        const cyclePaths = [
            //'/assets/img/2024/media/photos/1604/nozawana-tsuke_4104336968_o_large.jpg',
            '/assets/img/2024/media/photos/1596/planting-rice_3658443428_o_large.jpg',
            '/assets/img/2024/media/photos/1579/dsc_0010_3462687976_o_large.jpg',
            '/assets/img/2024/media/photos/1567/dsc_0743-copy_3516763152_o_large.jpg',
            '/assets/img/2024/media/photos/1555/volunteers_3946409006_o_large.jpg',
            //'/assets/img/2024/media/photos/1544/dsc_5384-copy_3028987487_o_large.jpg',
            '/assets/img/2024/media/photos/215/p1050236_1jpg_1804387999_o_large.jpg',
            '/assets/img/2024/media/photos/267/dsc_9041-copy_3994582679_o_large.jpg',
            '/assets/img/2024/media/photos/191/p1050284_1jpg_1804426377_o_large.jpg',
            '/assets/img/2024/media/photos/187/p1020923_1jpg_440526301_o_large.jpg',
            '/assets/img/2024/media/photos/514/dsc_5724_4729434512_o_large.jpg',
            '/assets/img/2024/media/photos/509/dsc_5794_4728799397_o_large.jpg',
            '/assets/img/2024/media/photos/628/dsc_0271-copy_8276649619_o_large.jpg',
            '/assets/img/2024/media/photos/497/dsc_9879_copy_8695908244_o_large.jpg',
            '/assets/img/2024/media/photos/2525/IMG_20240416_175252_large.jpg',
            '/assets/img/2024/media/photos/821/dsc_0017_7625856512_o_large.jpg',
            '/assets/img/2024/media/photos/249/dsc_7155_1jpg_1857566648_o_large.jpg',
            '/assets/img/2024/media/photos/474/dsc_1625-copy_8163702849_o_large.jpg',
            '/assets/img/2024/media/photos/470/dsc_0122_7625831368_o_large.jpg',
            '/assets/img/2024/media/photos/453/dsc_0126_7625832570_o_large.jpg',
            '/assets/img/2024/media/photos/407/dsc01492-copy_14669118309_o_large.jpg',
            '/assets/img/2024/media/photos/387/dsc01499-copy_14853273134_o_large.jpg',
            '/assets/img/2024/media/photos/471/dsc_0261-copy_7346674726_o_large.jpg',
            '/assets/img/2024/media/photos/337/dsc_8983-copy_3995397692_o_large.jpg',
            '/assets/img/2024/media/photos/299/dsc_8950-copy_3995432090_o_large.jpg',
            '/assets/img/2024/media/photos/1153/DSC_0123_copy_large.jpg',
            '/assets/img/2024/media/photos/762/dsc_5861_4728803447_o_large.jpg',
            '/assets/img/2024/media/photos/1170/DSC_0105_copy_large.jpg',
            '/assets/img/2024/media/photos/652/dsc_1640-copy_8163742640_o_large.jpg',
            '/assets/img/2024/media/photos/642/iiyama-autumn-bike_8187292286_o_large.jpg',
            '/assets/img/2024/media/photos/1781/dsc_0248-copy_7439743100_o_large.jpg',
            '/assets/img/2024/media/photos/1780/dsc_0428-copy_7161462347_o_large.jpg',
            '/assets/img/2024/media/photos/1737/dsc_0028-copy_6188817064_o_large.jpg',
            '/assets/img/2024/media/photos/1723/dsc_0119-copy_6179261030_o_large.jpg',
            '/assets/img/2024/media/photos/1710/dsc_0084-copy_6188290205_o_large.jpg',
            '/assets/img/2024/media/photos/1709/dsc_0075-copy_6382931541_o_large.jpg',
            '/assets/img/2024/media/photos/1502/dsc_8213_1jpg_2514744509_o_large.jpg',
            '/assets/img/2024/media/photos/1495/dsc_6824_1jpg_2438954305_o_large.jpg',
            '/assets/img/2024/media/photos/1446/sakae-mura-nagano_562688691_o_large.jpg',
            '/assets/img/2024/media/photos/1437/sakae-mura-nagano_562276138_o_large.jpg',
            '/assets/img/2024/media/photos/1426/dsc_7646jpg_300715585_o_large.jpg',
            '/assets/img/2024/media/photos/1388/dsc_5306jpg_152384952_o_large.jpg',
            '/assets/img/2024/media/photos/829/dsc_0407-copy_7377208284_o_large.jpg',
            '/assets/img/2024/media/photos/816/dsc_9835-copy_6989731874_o_large.jpg',
            '/assets/img/2024/media/photos/788/dsc_0121-copy_6091122180_o_large.jpg',
            '/assets/img/2024/media/photos/775/dsc_0046-copy_6136357381_o_large.jpg',
            '/assets/img/2024/media/photos/486/dsc_0087-copy_6058668632_o_large.jpg',
            '/assets/img/2024/media/photos/454/dsc_0434-copy_7346672420_o_large.jpg',
            '/assets/img/2024/media/photos/449/dsc_0507-copy_7346670064_o_large.jpg',
            '/assets/img/2024/media/photos/447/dsc_9826-copy_7135816017_o_large.jpg',
            '/assets/img/2024/media/photos/291/dsc_8681-copy_3994625055_o_large.jpg',
            '/assets/img/2024/media/photos/257/dsc_9958-copyjpg_2636022528_o_large.jpg',
            '/assets/img/2024/media/photos/2185/chichibu-okutama-national-park_645023317_o_large.jpg',
            '/assets/img/2024/media/photos/2183/sakae-mura-nagano_562683491_o_large.jpg',
            '/assets/img/2024/media/photos/2175/traditional-japanese-home_464585727_o_large.jpg',
            '/assets/img/2024/media/photos/2159/p1010330_1jpg_353803734_o_large.jpg',
            //'/assets/img/2024/media/photos/2134/gujyou-hachiman_438383617_o_large.jpg',
            '/assets/img/2024/media/photos/207/p1050256_1jpg_1805256458_o_large.jpg',
            '/assets/img/2024/media/photos/2018/panoramio-54917448_large.jpg',
            '/assets/img/2024/media/photos/2014/DSC_0686_copy_large.jpg',
            '/assets/img/2024/media/photos/2001/DSC00263_copy_large.jpg',
            '/assets/img/2024/media/photos/1986/14852694011_2bdc079cc7_k_large.jpg',
            '/assets/img/2024/media/photos/1977/DSC_0107_copy_large.jpg',
            '/assets/img/2024/media/photos/1976/13992915466_6c2327c23d_k_large.jpg',
            '/assets/img/2024/media/photos/1916/Screen_Shot_2024-05-16_at_21.02.59_large.png',
            '/assets/img/2024/media/photos/1872/dsc_0181_8711459505_o_large.jpg',
            '/assets/img/2024/media/photos/1806/dsc_0224-copy_7439746838_o_large.jpg',
            '/assets/img/2024/media/photos/1632/dsc_1817_4559938059_o_large.jpg',
            '/assets/img/2024/media/photos/1594/dsc_0065-copy_3428272646_o_large.jpg',
            '/assets/img/2024/media/photos/1541/dsc_0930-copyjpg_2715756433_o_large.jpg',
            '/assets/img/2024/media/photos/1533/dsc_3991-copy_3028972519_o_large.jpg',
            '/assets/img/2024/media/photos/1531/yashiki-in-aiyamago---_2985740654_o_large.jpg',
            '/assets/img/2024/media/photos/1469/dsc_0226_1jpg_1812443881_o_large.jpg',
            '/assets/img/2024/media/photos/1448/dsc_0956_1jpg_2043625120_o_large.jpg',
            '/assets/img/2024/media/photos/1443/sakae-mura-nagano_566908399_o_large.jpg',
            '/assets/img/2024/media/photos/403/dsc01206-copy_14832681506_o_large.jpg',
            //'/assets/img/2024/media/photos/1429/hatonosu_316425783_o_large.jpg',
            '/assets/img/2024/media/photos/2532/IMG_20240428_153622_large.jpg',
            '/assets/img/2024/media/photos/2187/dsc_2019_1jpg_1193773685_o_large.jpg',
            '/assets/img/2024/media/photos/402/dsc01203-copy_14668991320_o_large.jpg',
            '/assets/img/2024/media/photos/2529/IMG_20241016_160730_large.jpg',
            '/assets/img/2024/media/photos/2528/IMG_20241016_160605_large.jpg',
            '/assets/img/2024/media/photos/1426/dsc_7646jpg_300715585_o_large.jpg',
            '/assets/img/2024/media/photos/1399/dsc_5311jpg_152385014_o_large.jpg',
            '/assets/img/2024/media/photos/1392/shikoku_74178334_o_large.jpg',
            '/assets/img/2024/media/photos/466/dsc_0685-copy_7377259420_o_large.jpg',
            '/assets/img/2024/media/photos/465/dsc_0675-copy_7377263432_o_large.jpg',
            '/assets/img/2024/media/photos/461/dsc_0473-copy_7377228120_o_large.jpg',
            '/assets/img/2024/media/photos/459/dsc_0246-copy_7346675160_o_large.jpg',
            '/assets/img/2024/media/photos/421/dsc_8914-copy_6975332122_o_large.jpg',
            '/assets/img/2024/media/photos/516/dsc_5915_4729450296_o_large.jpg',
            '/assets/img/2024/media/photos/510/dsc_5624_4729440886_o_large.jpg',
            '/assets/img/2024/media/photos/508/dsc_5648_4728795335_o_large.jpg',
            '/assets/img/2024/media/photos/505/dsc_5936_4729458040_o_large.jpg',
            '/assets/img/2024/media/photos/500/dsc01144-copy_14668993910_o_large.jpg',
            '/assets/img/2024/media/photos/495/dsc_1511_9013366834_o_large.jpg',
            '/assets/img/2024/media/photos/1864/dsc_1912_8187269054_o_large.jpg',
            '/assets/img/2024/media/photos/1860/dsc_2433_8219831013_o_large.jpg',
            '/assets/img/2024/media/photos/1856/dsc_2539_8220935640_o_large.jpg',
            '/assets/img/2024/media/photos/1835/dsc_5879_4729449604_o_large.jpg',
            '/assets/img/2024/media/photos/1172/DSC_0098_copy_large.jpg',
            '/assets/img/2024/media/photos/506/dsc_5923_4728811819_o_large.jpg',
            '/assets/img/2024/media/photos/372/dsc03208-copy_21248424000_o_large.jpg',
            '/assets/img/2024/media/photos/1416/dsc_9098jpg_300691120_o_large.jpg',
            '/assets/img/2024/media/photos/1099/all_photos_Kanat_2019.06.30__06.04_DSC_0138_copy_large.jpg',
            '/assets/img/2024/media/photos/1101/Photos_from_2019_DSC_0163_copy_large.jpg',
            '/assets/img/2024/media/photos/1858/dsc_2305_8219819739_o_large.jpg',
            '/assets/img/2024/media/photos/1313/IMG_20240422_112442_large.jpg',
            '/assets/img/2024/media/photos/1107/all_photos_Photos_from_2019_DSC_0177_copy_large.jpg',
            '/assets/img/2024/media/photos/624/soba_3928907592_o_large.jpg',
            '/assets/img/2024/media/photos/1103/School_Trips_14832661466_e4275f75e5_k_large.jpg',
            '/assets/img/2024/media/photos/376/dsc02986-copy_20815443343_o_large.jpg',
            '/assets/img/2024/media/photos/374/dsc03072-copy_21248432580_o_large.jpg',
            '/assets/img/2024/media/photos/359/dsc02954-copy_21436517205_o_large.jpg',
            '/assets/img/2024/media/photos/2339/dsc_2221_8220897722_o_large.jpg',
            '/assets/img/2024/media/photos/2334/dsc_2611_8219868257_o_large.jpg',
            '/assets/img/2024/media/photos/2336/dsc_2241_8220898346_o_large.jpg',
            '/assets/img/2024/media/photos/2314/dsc_1813_8187276164_o_large.jpg',
            '/assets/img/2024/media/photos/2317/dsc_2212_8219816269_o_large.jpg',
            '/assets/img/2024/media/photos/2311/dsc_2638_8236763819_o_large.jpg',
            '/assets/img/2024/media/photos/2320/iiyama-autumn-bike_8187293126_o_large.jpg',
            '/assets/img/2024/media/photos/2266/dsc_7288_1jpg_1857622860_o_large.jpg',
            '/assets/img/2024/media/photos/2265/dsc_7319_1jpg_1856822227_o_large.jpg',
            '/assets/img/2024/media/photos/2294/dsc_0186-copy_6233735407_o_large.jpg',
            //'/assets/img/2024/media/photos/2283/picnic-en-route_3658461074_o_large.jpg',
            '/assets/img/2024/media/photos/2273/dsc_7318_1jpg_1856820689_o_large.jpg',
            '/assets/img/2024/media/photos/2263/dsc_7084_1jpg_1857540116_o_large.jpg',
            '/assets/img/2024/media/photos/2255/dsc_0257_1jpg_1812445467_o_large.jpg',
            '/assets/img/2024/media/photos/2249/dsc_0137_1jpg_1813282134_o_large.jpg',
            '/assets/img/2024/media/photos/2234/p1050111_1jpg_1805049374_o_large.jpg',
            '/assets/img/2024/media/photos/2237/dsc_7367_1jpg_1856838601_o_large.jpg',
            '/assets/img/2024/media/photos/2248/dsc_7347_1jpg_1856833381_o_large.jpg',
            '/assets/img/2024/media/photos/2235/dsc_7396_1jpg_1856845203_o_large.jpg',
            '/assets/img/2024/media/photos/2230/dsc_0019_1jpg_1865225874_o_large.jpg',
            '/assets/img/2024/media/photos/2227/dsc_7387_1jpg_1856842441_o_large.jpg',
            '/assets/img/2024/media/photos/2229/dsc_7430_1jpg_1857695826_o_large.jpg',
            '/assets/img/2024/media/photos/2224/p1050210_1jpg_1804226435_o_large.jpg',
            '/assets/img/2024/media/photos/2228/dsc_7350_1jpg_1856836153_o_large.jpg',
            //'/assets/img/2024/media/photos/2176/p1040550_1jpg_1181071933_o_large.jpg',
            '/assets/img/2024/media/photos/675/p1040541_1jpg_1181070701_o_large.jpg',
            '/assets/img/2024/media/photos/1854/dsc_2429_8220908842_o_large.jpg',
            '/assets/img/2024/media/photos/1658/dsc_5827_4728797007_o_large.jpg',
            '/assets/img/2024/media/photos/1588/picnic-en-route_3657653635_o_large.jpg',
            '/assets/img/2024/media/photos/1466/dsc_7040_1jpg_1857530782_o_large.jpg',
            '/assets/img/2024/media/photos/910/p1050702_1jpg_2271607992_o_large.jpg',
            '/assets/img/2024/media/photos/1413/dsc_8523jpg_298037835_o_large.jpg',
            '/assets/img/2024/media/photos/650/dsc_2480_8219844961_o_large.jpg',
            '/assets/img/2024/media/photos/981/dsc_0483-copy_4458110901_o_large.jpg',
            '/assets/img/2024/media/photos/982/dsc_0485-copy_4458105871_o_large.jpg',
            '/assets/img/2024/media/photos/642/iiyama-autumn-bike_8187292286_o_large.jpg',
            '/assets/img/2024/media/photos/270/fall-bike-trip_2968129281_o_large.jpg',
            '/assets/img/2024/media/photos/222/p1050243_1jpg_1805244880_o_large.jpg',
            '/assets/img/2024/media/photos/195/p1050196_1jpg_1805065854_o_large.jpg',
            '/assets/img/2024/media/photos/181/p1050121_1jpg_1805050338_o_large.jpg',
            '/assets/img/2024/media/photos/176/dsc_1767_8187281170_o_large.jpg',
            '/assets/img/2024/media/photos/177/dsc_2250_8220899002_o_large.jpg',
            '/assets/img/2024/media/photos/715/dsc_0205-copyjpg_2642388558_o_large.jpg',
            '/assets/img/2024/media/photos/33/dsc_9153jpg_300691413_o_large.jpg',
            '/assets/img/2024/media/photos/279/dsc_4381-copy_3692724373_o_large.jpg',
            '/assets/img/2024/media/photos/272/dsc_8340-copy_3975037281_o_large.jpg',
            '/assets/img/2024/media/photos/268/dsc_0026-copy_3448985309_o_large.jpg',
            '/assets/img/2024/media/photos/253/akko-in-hakuba_1303346268_o_large.jpg',
            '/assets/img/2024/media/photos/240/p1030009_1jpg_440533550_o_large.jpg',
            '/assets/img/2024/media/photos/216/p1030044_1jpg_440547963_o_large.jpg',
            '/assets/img/2024/media/photos/392/dsc01987-copy_14669015750_o_large.jpg',

            '/assets/img/2024/media/photos/390/dsc01142-copy_14832685886_o_large.jpg',
            '/assets/img/2024/media/photos/367/dsc01988-copy_14875586323_o_large.jpg',
            '/assets/img/2024/media/photos/358/dsc01123-copy_14853291304_o_large.jpg',
            '/assets/img/2024/media/photos/332/dsc_8947-copy_3995429950_o_large.jpg',
            '/assets/img/2024/media/photos/321/dsc_9116-copy_3995368498_o_large.jpg',
            '/assets/img/2024/media/photos/443/dsc_6702-copy_6932110478_o_large.jpg',

            '/assets/img/2024/media/photos/428/dsc_6693-copy_6932111304_o_large.jpg',
            '/assets/img/2024/media/photos/416/dsc_2409_1_8220907522_o_large.jpg',
            '/assets/img/2024/media/photos/609/dsc_0061-copy_3449794696_o_large.jpg',

            '/assets/img/2024/media/photos/600/dsc_1026-copy_3537972769_o_large.jpg',

            '/assets/img/2024/media/photos/584/dsc_5797_4729444510_o_large.jpg',

            '/assets/img/2024/media/photos/555/dsc_5633_4728789877_o_large.jpg',
            '/assets/img/2024/media/photos/717/dsc_1375_1jpg_2782526173_o_large.jpg',
            '/assets/img/2024/media/photos/713/dsc_0970-copyjpg_2716569020_o_large.jpg',
            '/assets/img/2024/media/photos/708/dsc_9880-copyjpg_2635195521_o_large.jpg',
            '/assets/img/2024/media/photos/627/dsc_0275-copy_8276650289_o_large.jpg',
            '/assets/img/2024/media/photos/731/dsc_3169_1jpg_2867844250_o_large.jpg',
            '/assets/img/2024/media/photos/729/dsc_3172_1jpg_2867011903_o_large.jpg',
            '/assets/img/2024/media/photos/726/yashiki-in-aiyamago---_2985746958_o_large.jpg',
            '/assets/img/2024/media/photos/907/dondo-yaki-wishes_2192137346_o_large.jpg',
            '/assets/img/2024/media/photos/843/dsc00646-copy_14669143290_o_large.jpg',
            '/assets/img/2024/media/photos/837/dsc_0309-copy_8277711218_o_large.jpg',
            '/assets/img/2024/media/photos/942/dsc_0177-copy_3224316883_o_large.jpg',

            '/assets/img/2024/media/photos/930/dsc_2230_1jpg_2089058134_o_large.jpg',
            '/assets/img/2024/media/photos/1075/dsc03917-copy_21436559835_o_large.jpg',
            '/assets/img/2024/media/photos/1070/dsc03914-copy_21410327366_o_large.jpg',
            '/assets/img/2024/media/photos/1163/DSC_0115_copy_large.jpg',
            '/assets/img/2024/media/photos/1215/IMG_20240421_084937_2_large.jpg',
            '/assets/img/2024/media/photos/1162/DSC_0108_copy_large.jpg',
            '/assets/img/2024/media/photos/1156/DSC_0105_copy1_large.jpg',
            '/assets/img/2024/media/photos/1153/DSC_0123_copy_large.jpg',
            '/assets/img/2024/media/photos/1222/IMG_20240420_183432_large.jpg',
        ];
        const cycleImages = cyclePaths.map((path) => baseHost + path);
        const allUrls = cyclePaths.map((path) => baseHost + path);
        // split into three arrays
        // Fisher–Yates shuffle helper
        function shuffle(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        const cardImages = [
            shuffle(allUrls.filter((_, i) => i % 3 === 0)),
            shuffle(allUrls.filter((_, i) => i % 3 === 1)),
            shuffle(allUrls.filter((_, i) => i % 3 === 2)),
        ];
        //prelaod
        // allUrls.forEach((url) => {
        //     const img = new Image();
        //     img.src = url;
        // });

        container.querySelectorAll('.image-container').forEach((wrapper, idx) => {
            const images = cardImages[idx];
            let current = 0;
            const imgEl = wrapper.querySelector('.info-image');

            // show first image
            imgEl.src = images[0];

            // inside your container.querySelectorAll(...) loop, replace fadeToNext with:

            function fadeToNext() {
                current = (current + 1) % images.length;
                const newSrc = images[current];

                // kick off your 2s fade‑out
                imgEl.style.transition = 'opacity 2s ease-out';
                imgEl.style.opacity = 0;

                imgEl.addEventListener(
                    'transitionend',
                    function onEnd(e) {
                        if (e.propertyName !== 'opacity') return;
                        imgEl.removeEventListener('transitionend', onEnd);

                        // now preload *just* this next image
                        const preload = new Image();
                        preload.onload = () => {
                            // swap in the cached image
                            imgEl.src = newSrc;
                            // fade it back in quickly
                            imgEl.style.transition = 'opacity 0.5s ease-in';
                            imgEl.style.opacity = 1;
                        };
                        preload.src = newSrc;
                    },
                    { once: true },
                );
            }

            // start auto‑cycle every 5s
            setInterval(fadeToNext, 10000);
        });
    });
</script>

<style lang="scss">
    @use '../styles/global' as *;

    .info-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: 20px;
        transition: opacity 0.5s ease; /* <— add this */
        opacity: 1; /* ensure starting at full opacity */
    }
    .info-item {
        position: relative;
        overflow: hidden; /* clip the pseudo */
    }

    .info-item::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: var(--next-image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.1s ease;
        z-index: 1;
    }

    .info-item.fade::before {
        opacity: 1;
    }

    .info-image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: opacity 0.6s ease;
        position: relative;
        z-index: 0;
        opacity: 1;
    }

    .landing-page-cards {
        display: grid; /* Use CSS Grid */
        grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
        gap: 30px;
        margin-top: 40px;
        width: 100%;
        grid-auto-flow: row; /* Ensure items are arranged in rows */
        @include respond-to(small) {
            // padding: 10px;
            // width: 50%;
        }
    }

    /* Style for individual info items */
    .info-item {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .info-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .info-item h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 15px;
    }

    .info-item p {
        font-size: 1rem;
        color: #666;
        line-height: 1.6;
    }

    /* Responsive Layout */
    @media (max-width: 1200px) {
        .landing-page-cards {
            grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
            gap: 20px;
        }
    }

    @media (max-width: 768px) {
        .landing-page-cards {
            grid-template-columns: 1fr; /* 1 column on smaller screens */
            gap: 15px;
        }

        /* This places the middle card at the top of the grid when on smaller screens */
        .landing-page-cards .info-item:nth-child(2) {
            grid-row: 1; /* Place the second card in the first row */
        }
    }

    .image-container {
        position: relative;
        /* choose one of these: */

        /* A) Fixed height: */
        height: 250px; /* or whatever constant height you need */
        width: 100%;
        overflow: hidden;

        /* ——— or ——— */

        /* B) Aspect‐ratio (keeps it proportional to width): */
        /* aspect-ratio: 16 / 9; */
        /* width: 100%; */
        /* overflow: hidden; */
    }

    .image-container::before {
        /* no change here except ensure it covers the same area: */
        position: absolute;
        inset: 0;
        background-image: var(--next-image);
        background-size: cover; /* crop to fill */
        background-position: center; /* center the crop */
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.6s ease;
        z-index: 1;
    }

    .image-container.fade::before {
        opacity: 1;
    }

    .info-image {
        /* fill the container, but crop any overflow */
        width: 100%;
        height: 250px;
        object-fit: cover; /* fill & crop */
        transition: opacity 0.6s ease;
        position: relative;
        z-index: 0;
        opacity: 1;
    }

    .dots {
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 6px;
        z-index: 2;
    }
    .dot {
        width: 6px;
        height: 6px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s;
    }
    .dot.active {
        background: rgba(0, 0, 0, 0.7);
    }
</style>
