---
import ItineraryCard from './ItineraryCard.astro';
const { itineraries } = Astro.props;

const page = 'index';

// Chunk the itineraries into groups of three
function chunk(arr: any, size: any) {
    if (!arr || !arr.length) {
        return [];
    }

    const result = [];
    for (let i = 0; i < arr.length; i += size) {
        result.push(arr.slice(i, i + size));
    }
    return result;
}
const rows = chunk(itineraries, 3);
---

<div class="container content">
    {
        page == 'index' ? (
            <div class="itinerary-cards">
                {rows.map((row) => (
                    <div class="row margin-bottom-30">
                        {row.map((itinerary: any) => (
                            <ItineraryCard key={itinerary.id} id={itinerary.id} />
                        ))}
                    </div>
                ))}
            </div>
        ) : (
            ''
        )
    }
</div>
