---
//import NavUtilities from './NavUtilities.astro';
import '../styles/global.scss';
const isDev = import.meta.env.DEV;
---

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
        Adventures &amp; Tours
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="/explore/rural-japan-made-easy/">rural-japan-made-easy</a>
        </li>
        <li>
            <a class="dropdown-item" href="/explore/explore-rural-japan/">explore-rural-japan</a>
        </li>
        <li>
            <a class="dropdown-item" href="/explore/family-friendly-japan-trips/">family-friendly-japan-trips</a>
        </li>
        <li>
            <a class="dropdown-item" href="/explore/japan-countryside-bike-tours/">japan-countryside-bike-tours</a>
        </li>
        <li>
            <a class="dropdown-item" href="/explore/japan-self-guided-adventure-tours/"
                >japan-self-guided-adventure-tours</a
            >
        </li>
        <li>
            <a class="dropdown-item" href="/explore/rural-japan-walking-tours/">rural-japan-walking-tours</a>
        </li>
        <li>
            <a class="dropdown-item" href="/explore/rural-japan-walking-toursV2/">laniging v2</a>
        </li>
        <hr />

        <li>
            <a
                class="dropdown-item"
                target="_blank"
                href="https://unbounce.com/landing-page-examples/best-landing-page-examples/">Landing Examples</a
            >
        </li>
        <li>
            <a
                class="dropdown-item"
                target="_blank"
                href="https://unbounce.com/landing-page-examples/best-landing-page-examples/#example-twinwoods"
                >Solid Example Tiwn woods</a
            >
        </li>
    </ul>
</li>
