---
import YearArchiveLinks from './YearArchiveLinks.astro';
import ArchiveMonths from './ArchiveMonths.astro';
import LatestPosts from './LatestPosts.astro';
import InstagramFeed from './InstagramFeed.astro';
const { posts = [], pageTitle = 'Blog' } = Astro.props;
---

<div id="blog-title-container">
    <h1 id="blog-page-title" class="blog-header">{pageTitle}</h1>
    <button id="sidebar-toggle" class="sidebar-toggle">Menu</button>
</div>

<div class="blog-content-container content-container">
    <div id="blog-posts">
        {
            posts.length > 0 ? (
                posts.map((post: any) => (
                    <article>
                        <h2>
                            {post.title}{' '}
                            <small>
                                ( in{' '}
                                {new Date(post.date_published).toLocaleDateString('en-US', {
                                    month: 'long',
                                    //day: 'numeric',
                                })}{' '}
                                )
                            </small>
                        </h2>
                        <div class="blog-post">
                            <div set:html={post.content} />
                        </div>
                        {/* <p>
                            <small>Published on {new Date(post.date_published).toLocaleDateString()}</small>
                        </p> */}
                        {/* <p>
                            <small>
                                {new Date(post.date_published).toLocaleDateString('en-US', {
                                    month: 'long',
                                    day: 'numeric',
                                })}
                            </small>
                        </p> */}
                    </article>
                ))
            ) : (
                <p>No posts available.</p>
            )
        }
    </div>
    <div id="pagination-controls">
        <!-- Add pagination links if needed -->
    </div>
    <div class="sidebar" id="sidebar">
        <button id="sidebar-close" class="sidebar-close">Close</button>
        <ArchiveMonths />
        <InstagramFeed />
        <LatestPosts />
        <!-- <YearArchiveLinks /> -->
    </div>
</div>
