---
import BaseLayout from '../../layouts/BaseLayout.astro';
import GenericSlider from '../../components/GenericSlider.astro';
import CustomerReviewsSlider from '../../components/CustomerReviewsSlider.astro';
import LandingPageCards from '../../components/LandingPages/LandingPageCards.astro';
import LandingPastTripsCardsContainer from '../../components/LandingPages/LandingPastTripsCardsContainer.astro';
import LandingPageWhyOneLifeJapan from '../../components/LandingPages/LandingPageWhyOneLifeJapan.astro';
import LandingPageRouteTogglerCards from '../../components/LandingPages/LandingPageRouteTogglerCards.astro';
import LandingPageFaq from '../../components/LandingPages/LandingPageFaq.astro';
import ComparisonTable from '../../components/ComparisonTable.astro';
import ComparisonTableLite from '../../components/ComparisonTableLite.astro';
import GoogleCustomRuralJapanV1 from '../../components/Head/Analytics/GoogleCustomRuralJapanV1.astro';
import FamilyNaganoLandingAnchorMenu from '../../components/LandingPages/FamilyNagano/FamilyNaganoLandingAnchorMenu.astro';
import CustomLandingPagePricingTabs from '../../components/LandingPages/CustomLandingPagePricingTabs.astro';

import { baseHost } from '../../utils/utilities.ts';
import '../../styles/global.scss';
const devOnly = false;
const sliderText = "But there's a whole different side of Japan waiting  -  if you're willing to go a bit further.";
const title = 'Discover Rural Japan Beyond the Golden Route - One Life Japan';
const description =
    'Already planning the Golden Route? Discover a deeper side of Japan with flexible countryside trips - bike, walk, or simply wander through quiet villages and hidden landscapes. Explore rural life with One Life Japan.';
---

<BaseLayout title={title} description={description} page="about" devOnly={devOnly}>
    <GoogleCustomRuralJapanV1 />
    <div class="custom-container simple-page-body">
        <div class="centered attention-catcher">
            <!-- <h1>Japan Rural Sidetrack</h1> -->
            <!-- <h1>Lose Yourself in Rural Japan</h1> -->
            <h1>Get a Little Lost in Rural Japan</h1>
            <h2>Custom countryside trips - by bike, on foot, or both</h2>
            <h2>Flexible support - self-guided, semi-guided, or fully guided</h2>
            <h2>From ¥10,000 / day</h2>
        </div>

        <!-- Landing Page Content -->
        <LandingPageCards />
        <!-- <LandingPageCardsEditorTool /> -->

        <div class="cta-container">
            <p class="small-note">
                There's plenty of advice online from tourists who have visited rural Japan - but if you want help from
                someone who's lived it and guided visitors through it for nearly two decades, feel free to reach out for
                a no-commitment consultation.
            </p>

            <a href="/contact/?context=custom" class="cta-button"
                >Get Help Planning Your Trip in Rural Japan &#8250;&#8250;</a
            >
        </div>

        <hr />
        <section class="landing-testimonials">
            <h2>Reflections from Our Guests</h2>
            <div class="frame">
                <GenericSlider sliderImageId={77} height={250} />
            </div>

            <!-- <h2>What Past Guests Say</h2> -->
            <CustomerReviewsSlider show={3} />
        </section>

        <hr />
        <section class="landing-routes">
            <h2>The Destinations Between Your Destinations</h2>
            <LandingPageRouteTogglerCards />
        </section>
        <div class="cta-container">
            <a href="/contact/?context=custom" class="cta-button"
                >Get Help Planning Your Trip in Rural Japan &#8250;&#8250;</a
            >
        </div>

        <hr />
        <div class="frame">
            <GenericSlider sliderImageId={78} height={250} />
        </div>

        <section class="landing-faqs">
            <h2>Q & A</h2>
            <LandingPageFaq mode="static" />
        </section>

        <div class="cta-container">
            <a href="/contact/?context=custom" class="cta-button"
                >Get Help Planning Your Trip in Rural Japan &#8250;&#8250;</a
            >
        </div>
        <section id="pricing" class="family-pricing-section">
            <h2>Trip Pricing Estimate</h2>
            <p class="centered sub-header">
                Every trip is <span class="emph"> customized based on your family's interests</span>, the season, and
                what's happening locally. The prices below <span class="emph">aren't fixed packages</span>. They're very
                realistic estimates based on our trips <span class="emph">similar the example above</span> that include lodging,
                meals, cultural activities, and full guided support.
            </p>
            <!-- <CustomLandingPagePricingTabs /> -->
        </section>
        <hr />
        <section class="landing-faqs">
            <h2>Why Journey with One Life Japan?</h2>
            <LandingPageWhyOneLifeJapan />
        </section>

        <hr />
        <section class="past-trips">
            <h2>A Few Memorable Journeys</h2>
            <p>
                Explore a few <span class="emph">examples of past trips</span> - some built around favorite <span
                    class="emph">routes we've refined over the years</span
                > in rural Nagano, and others created as special custom requests <span class="emph"
                    >outside our usual area</span
                >, shaped by guests' existing plans, locations, and timing.
            </p>

            <LandingPastTripsCardsContainer />
        </section>
        <hr />
        <section class="end-of-page">
            <h2>See you soon...</h2>
            <div class="centered attention-catcher">
                <img
                    src=`${baseHost}/assets/img/2024/media/photos/2067/fuji-from-akadake_298038257_o_large.jpg`
                    alt="Kevin with guests"
                    class="circle-img circle-img-2"
                    style="object-position: center 100%;"
                />
            </div>
            <div class="cta-container">
                <a href="/contact/?context=custom" class="cta-button"
                    >Get Help Planning Your Trip in Rural Japan &#8250;&#8250;</a
                >
            </div>
        </section>

        <!-- <GenericSlider sliderImageId={1} height={250} /> -->
    </div>

    <style lang="scss">
        @use '../../styles/global' as *;

        hr {
            margin: 50px 0;
            width: 100%;
            @include respond-to(small) {
                margin: 20px 0;
            }
        }
        .small-note {
            font-size: 1em;
            color: #777;
            margin-top: 10px;
            margin-bottom: 15px;
            text-align: left;
        }

        .attention-catcher {
            padding-top: 20px;
            padding-bottom: 30px;
            overflow: hidden;
            position: relative;
        }
        .attention-catcher h2,
        h4 {
            opacity: 0;
            animation: fadeIn 4s forwards;
            animation-timing-function: ease-out;
            position: relative;
        }
        .attention-catcher h1 {
            font-size: 2.3em;
            font-weight: 700;
            margin: 0; /* Prevent margin */
        }
        section h2 {
            padding-top: 20px !important;
            padding-bottom: 10px !important;
            font-size: 2.7em;
            text-align: center;
        }
        .attention-catcher h2 {
            font-size: 1.5em;
            margin: 10px 0 0; /* Add a bit of space between h1 and h2 */
        }
        // .attention-catcher h2 {
        //     font-size: 1.7em;
        // }
        // .attention-catcher h2 span {
        //     font-size: 1em;
        // }
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @include respond-to(xxlarge) {
        }

        @include respond-to(xlarge) {
        }

        @include respond-to(large) {
            .attention-catcher {
                padding-top: 0px;
                padding-bottom: 20px;
            }
        }

        @include respond-to(medium) {
            .btn-container {
                justify-content: center !important; /* Center the button */
                margin-top: 5px; /* Add some space above the button */
            }

            .container .row {
                flex-direction: column; /* Stack the elements vertically */
                align-items: center; /* Center align the children */
            }

            .container .col-md-3 {
                width: 100%; /* Full width on smaller screens */
                display: flex;
                justify-content: center;
                margin-bottom: 1em;
            }

            h1 {
                text-align: center;
            }
        }
        .centered {
            text-align: center;
        }

        /* Landing Page Container */
        .landing-container {
            display: flex;
            justify-content: center;
            align-items: flex-start; /* Align items to the top */
            flex-direction: column;
            padding: 20px;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto; /* Center the container horizontally */
        }
        .landing-routes {
            width: 100%;
            align-items: center;
        }
        /* Custom Container for Simple Page Body */
        .custom-container {
            width: 100%;
            margin-top: 20px;
        }

        :global(.cta-container) {
            width: 100%;
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
        /* CTA Button */
        :global(.cta-button) {
            display: inline-block;
            padding: 1.5rem 1.5rem;
            background-color: var(--bs-link-color);
            color: white !important;
            font-weight: 600;
            font-size: 1.3em;
            border: none;
            border-radius: 8px;
            text-decoration: none;
            text-align: center;
            transition: background 0.2s ease;
            margin: auto;
            &:hover {
                background-color: var(--bs-primary);
            }
        }

        /* Responsive Layout */
        @media (max-width: 1200px) {
            .landing-page-cards {
                grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
                gap: 20px;
            }
        }

        @media (max-width: 768px) {
            .landing-page-cards {
                grid-template-columns: 1fr; /* 1 column on smaller screens */
                gap: 15px;
            }
        }
        .circle-img {
            width: 280px;
            height: 280px;
            object-fit: cover;
            object-position: center 0%; // <-- move image down to center your face
            border-radius: 50%;
            margin-bottom: 1rem;
            border: 3px solid #ccc;
        }
        .circle-img-2 {
            //object-position: left center 100%; // <-- move image down to center your face
            //object-position: right 50%;
            border-radius: 50%;
            margin-bottom: 1rem;
            //    border: 3px solid red;
        }
    </style>
</BaseLayout>
