---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PurchaseBlock from '../../components/PurchaseBlock.astro';
import GenericSlider from '../../components/GenericSlider.astro';
import BaseGeneralModal from '../../components/modals/BaseGeneralModal.astro';
import '../../styles/global.scss';

const devOnly = true;

const sliderText = 'But there’s a whole different side of Japan waiting  -  if you’re willing to go a bit further.';
const title = 'Active Family Friendly Bike and Cultural Tours in Rural Japan - From One Life Japan';
const description =
    "Discover One Life Japan - led by a local guide with 30+ years' experience, we offer personalized tours that take you beyond Japan’s Golden Route into its authentic countryside and vibrant culture.";
---

<BaseLayout title={title} description={description} page="about" sliderid="4" devOnly={devOnly}>
    <div class="custom-container simple-page-body">
        <div class="landing-container">
            <div class="centered attention-catcher">
                <h1>Active Family Friendly Bike and Cultural Tours in Rural Japan</h1>
                <h2>
                    Custom trips from fully guided to self-guided. Anywhere in Japan. At your pace. Within your budget.
                </h2>
            </div>
        </div>
    </div>

    <style lang="scss"></style>
</BaseLayout>
