---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PurchaseBlock from '../../components/PurchaseBlock.astro';
import GenericSlider from '../../components/GenericSlider.astro';
import BaseGeneralModal from '../../components/modals/BaseGeneralModal.astro';
import CustomerReviewsSlider from '../../components/CustomerReviewsSlider.astro';
import '../../styles/global.scss';

import LandingPageRouteToggler from '../../components/LandingPageRouteToggler.astro';
import LandingPageFaq from '../../components/LandingPageFaq.astro';

const devOnly = true;
const sliderText = 'But there’s a whole different side of Japan waiting  -  if you’re willing to go a bit further.';
const title = 'Walking Tours in Rural Japan - From One Life Japan';
const description =
    "Discover One Life Japan - led by a local guide with 30+ years' experience, we offer personalized tours that take you beyond Japan’s Golden Route into its authentic countryside and vibrant culture.";
---

<BaseLayout title={title} description={description} page="about" sliderid="4" devOnly={devOnly}>
    <div class="custom-container simple-page-body">
        <div class="hero-header">
            <h1>Explore Rural Japan Your Way</h1>
            <!-- <h2>Multi-day countryside trips - by bike, walk, or both</h2>
            <h2>Flexible support. Guided & self-guided</h2> -->

            <h2>Custom countryside trips - by bike, on foot, or both</h2>
            <h2>Flexible support - self-guided, semi-guided, or fully guided</h2>
            <!-- <p>
                Looking for a real Japan experience, away from the crowds? Our rural Japan trips take you through small
                towns, scenic farmland, and quiet backroads  -  with flexible support whether you're on foot, bike, or
                just soaking it in.
            </p> -->
            <!-- <h2>From ¥20,000 per person, per day</h2> -->
        </div>
        <div class="landing-container">
            <section class="landing-intro">
                <h2>We Design Your Journey Through Rural Japan</h2>
                <p>
                    <span class="emph first-words">We design flexible countryside itineraries</span> - by bike, on foot,
                    or a mix of both - <span class="emph">tailored to your schedule, comfort, and curiosity</span>.
                    Whether <span class="emph">fully guided or just planning and logistics</span>, we help turn the
                    space between the famous stops into the <span class="emph">best part of the trip</span>.
                </p>
                <h2>Go Beyond the Golden Route</h2>
                <p>
                    Perhaps you’ve <span class="emph">already planned the Golden Route</span> - Kyoto, Tokyo, Osaka, maybe
                    even Hakone, Takayama and Kanazawa. These places are great, and <span class="emph"
                        >there's a reason they’re crowd favorites</span
                    >. But you’ve also wondered what it's like in<span class="emph"> the places in between</span> - the quiet
                    towns, the back roads, <span class="emph">the parts most travelers miss</span>.
                </p>
                <h2>Accessible Rural Japan - No Car Needed</h2>
                <p>
                    Maybe you’ve been <span class="emph">told you need a car</span> to see the countryside, or to get "off
                    the beaten path".<span class="emph"> You don’t</span>. Many <span class="emph"
                        >rural towns are eager and ready for visitors</span
                    >, and more accessible than you think - <span class="emph"><em>if</em></span> you know <span
                        class="emph">where to go, how to get there</span
                    > and you're willing to slow down.
                </p>

                <!--             
                <p>
                    It's not just about getting off the beaten path. The beaten path exists for a reason  -  places like
                    Kyoto, Kanazawa, and Tokyo are amazing. But what if the best part is the space between them?
                </p>
                <p>
                    Ever wonder about the quiet towns, the rice fields, the old farm roads you speed past on the train?
                    That’s where we go. And we make it easy, exciting, and fully custom.
                </p>
                <p>
                    Want to see the rural areas but reddit says "You need to rent a car"? I'll tell you a secret. You
                    don't. And all of these places are are excited and waiting for people, - for you - , visit, putting
                    great effort into making it accessible, and omotenashi is waiting. Most people just have not found
                    it, or are told that you need a car to see the coutnryside. Not true.
                </p> -->
                <div class="cta-container">
                    <a href="/contact" class="cta-button">Get Sample Itineraries & Estimate &#8250;&#8250;</a>
                </div>
            </section>

            <GenericSlider sliderImageId={1} height={250} />
            <!-- <GenericSlider sliderImageId={20} height={250} /> -->

            <section class="landing-routes">
                <h2>Between the Highlights - The journey is the destination.</h2>
                <LandingPageRouteToggler />
            </section>

            <section class="landing-faqs">
                <h2>Some Details</h2>
                <LandingPageFaq mode="static" />
            </section>
            <!-- <GenericSlider sliderImageId={28} height={250} /> -->
            <!-- <LandingPageFaq mode="collappsible" /> -->

            <section class="landing-photos">
                <h2>Real People. Real Roads. Real Japan.</h2>
                <div class="photo-gallery">
                    <GenericSlider sliderImageId={28} height={250} />
                </div>
            </section>

            <section class="landing-testimonials">
                <h2>What Past Guests Say</h2>
                <!-- <CustomerReviewsSlider show="one" />
                <CustomerReviewsSlider show="two" /> -->
                <CustomerReviewsSlider show="three" />
            </section>

            <section class="landing-cta">
                <h2>Let’s Build Your Trip Together</h2>
                <p>Tell us where you're already going, and we’ll show you what’s in between.</p>
                <div class="cta-container">
                    <a href="/contact" class="cta-button">Get Sample Itineraries & Estimate &#8250;&#8250;</a>
                </div>
            </section>
        </div>
    </div>

    <style lang="scss"></style>

    <style lang="scss">
        @use '../../styles/global' as *;

        h1 {
            font-size: 2.3em;
            text-align: center;
            font-weight: 700;
        }
        h2 {
            font-size: 1.5em;
            text-align: center;
        }
        .first-words {
            font-size: 1.1em;
        }
        .custom-container {
            //border: 1px solid red !important;
            margin-top: -5px !important;
            @include respond-to(small) {
                padding-left: 0px;
                padding-right: 0px;
                margin-top: -5px !important;
            }
        }
        .simple-page-body {
            background: white;
            //padding: 10px;
            border: 1px solid var(--bs-primary-dark);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
            @include respond-to(small) {
                max-width: 100%;
            }
        }
        .landing-container {
            padding-left: 20px;
            padding-right: 20px;
            @include respond-to(small) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .cta-container {
            width: 100%;
            text-align: center;
            padding: 20px;
        }
        .cta-button {
            display: inline-block;
            padding: 0.75rem 1.5rem;
            background-color: var(--bs-link-color);
            color: white;
            font-weight: 600;
            border: none;
            border-radius: 8px;
            text-decoration: none;
            text-align: center;
            transition: background 0.2s ease;
            margin: auto;
            &:hover {
                background-color: var(--bs-primary);
            }
        }
        section {
            margin-bottom: 40px;
            //border: 1px solid red;
        }
        :global(.landing-container h2) {
            //border: 1px solid red;
            font-size: 1.5em;
            margin-bottom: 20px;
            margin-bottom: 20px;
            padding: 10px;
        }
        .landing-intro h2 {
            display: inline-block;
            background: #e9f3e0; // soft background color
            color: var(--bs-primary-dark);
            padding: 0.25em 0.5em;
            border-radius: 6px;
            font-weight: 600;
        }
        .landing-intro {
            padding-top: 20px;
            //text-align: center;
            // padding: 2rem 1rem;
            // max-width: 800px;
            // margin: 0 auto;
        }
        .hero-header {
            width: 100%;
            background: #e9f3e0; // soft background color
            color: var(--bs-primary-dark);
            padding-bottom: 10px;
            padding-top: 10px;
            border-bottom: 1px solid var(--bs-primary-dark);
            margin-top: 0px;
            //border: 1px solid red;
        }
    </style>
</BaseLayout>
